.nav-container {
  display: flex;
  position: relative;
  background-color: rgba(5, 40, 37, 0.745);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #efefef;
}

.nav-container .nav-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-search .nav-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 70%;
}

.nav-container .nav-search .nav-title {
  display: flex;
  font-size: 20px;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-container .nav-search .nav-form .nav-input {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  border: none;
  border-radius: 50px;
  box-shadow: 6px 6px 20px 20px rgba(0, 0, 0, 0.1);
}

.nav-container .nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-container .nav-ul li {
  text-decoration: none;
}
